html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container-md {
    min-height: 0;
}
.chats-list {
    overflow-y: scroll;
    overflow-x: hidden;
    /* min-height: 0; */
}

.portrait {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
}
.portrait img {
    width: 100%;
    height: 100%;
}