html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.container-md {
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: 1px;
}
.list-group {

}
.portrait {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
}
.portrait img {
    width: 100%;
    height: 100%;
}