html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container-md {
    min-height: 0;
}
.chats-list {
    overflow-y: scroll;
    overflow-x: hidden;
    /* min-height: 0; */
}