/* custom elements */
.portrait {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
}
.portrait-lg {
    width: 12em;
    height: 12em;
}
.portrait img {
    height: 100%;
}
.overlay-header {
    margin-top: -6rem;
}
/* custom sized spinners */
.spinner-border-lg {
    width: 6rem;
    height: 6rem;
}
/* customized bootstrap component styles */
.btn-close {
    border-radius: 100%;
    border: 1px solid transparent;
    padding: .5rem .5rem;
    margin-top: -.5rem;
    margin-right: -.5rem;
    margin-bottom: -.5rem;
    flex-shrink: 0;
}
.btn-close:hover {
    border: 1px solid grey;
}
/* custom text modifiers */
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-decoration-hover-only:not(:hover) {
    text-decoration: none;
}
/* custom global modifiers */
a {
    cursor: pointer;
}
/* custom scrollbars */
.pretty-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
	background-color: #fff;
}
.pretty-scrollbar::-webkit-scrollbar-corner {
    background-color: #fff;
}
.pretty-scrollbar::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-color: transparent;
	background-clip: padding-box;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
}
.pretty-scrollbar::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
	background-color: transparent;
    border-color: #fff;
	border-width: initial;
}
.pretty-scrollbar::-webkit-scrollbar-track-piece {
    background-color: #ddd;
    border: 4px solid #fff;
    border-radius: 8px;
}
/* custom global device style breakpoints */
/* X-Small devices (anything smaller) */
@media (min-width: 0px) {
    :root {
        font-size: 0.8em;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    :root {
        font-size: 0.9em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    :root {
        font-size: 1em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    :root {
        font-size: 1em;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}