{% extends 'base.html' %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/chats.css' %}">
<div class="container-md">
    <h1 class="display-2 text-center mt-2 mb-5">Chats</h1>
    <button class="btn btn-primary btn-lg float-end create-button" data-bs-toggle="modal" data-bs-target="#create-chat-modal">Create</button>
    <div class="list-group mb-5">
        {% for chat in chats %}
        <a href="{% url 'chat' chat.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-ellipsis">
                    <span class="fw-normal">
                        {% if chat.members|length == 1 %}
                        Chat with
                        {% else %}
                        Group Chat with
                        {% endif %}
                    </span>
                    <span class="text-primary">{{chat.members|join:', '}}</span>
                </h5>
                <small class="text-muted text-nowrap tz-localize">{{chat.latestmessage.sent_at.isoformat}}</small>
            </div>
            <p class="mb-1 text-ellipsis">{{chat.latestmessage.content}}</p>
            <small class="text-muted">
                {% for circle in chat.circles %}
                <span class="badge bg-secondary">{{circle.name}}</span>
                {% endfor %}
            </small>
        </a>
        {% endfor %}
    </div>
</div>
<div id="create-chat-modal" class="modal fade" tabindex="-1" >
    <div class="modal-dialog">
        <form action="" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Chat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    TODO: Create form
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
  </div>
{% endblock %}