{% extends 'base.html' %}


{% block body %}

{% url 'person_add_spouse' person.id as add_spouse %}
{% url 'person_add_parent' person.id as add_parent %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/family_navigator.css' %}">
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-12 col-lg-7 col-xl-5 d-flex flex-column">
            <div class="d-flex mt-4">
                <div class="portrait portrait-lg me-3">
                    {% include 'generic_image.html' with photo=person.profile_photo %}
                </div>
                <span class="">
                    <h2>{{person}}</h2>
                    <em class="fs-4">{{person.tagline}}</em>
                    <div class="fs-5">
                        {{person.birth_date|date:'F j, Y'}} - 
                        {% if person.death_date %}
                        {{person.death_date|date:'F j, Y'}}
                        {% else %}
                        Present
                        {% endif %}
                    </div>
                    <div class="mt-2">
                        {% for circle in person.family_circles.all %}
                        <span class="badge bg-secondary"><a href="{% url 'circle_detail' circle.id %}" class="text-reset text-decoration-none">{{circle.name}}</a></span>
                        {% endfor %}
                    </div>
                </span>
            </div>
            <div class="mt-2">
                <h3 class="display-6 mt-4">Facts</h3>
                {% if person.facts %}
                <ul>
                {% for fact in person.facts %}
                <li>{{fact}}</li>
                {% endfor %}
                </ul>
                {% else %}
                <p>No facts yet... edit this person's profile to add some!</p>
                {% endif %}
            </div>
            <div class="d-flex flex-grow-1 align-items-end justify-content-center mt-5">
                <a href="{% url 'person_detail' person.id %}" class="btn btn-primary block">Go to Profile</a>
            </div>
        </div>
        <div class="col-12 col-lg-5 col-xl-7 position-relative d-flex flex-column">
            {% if person.family_circles.count == 0 %}
            <div class="position-absolute flex-grow-1 h-100 d-flex justify-content-center align-items-center" style="width: calc(100% - 1.5rem); box-sizing: border-box; z-index: 9999; background-color: rgba(192, 192, 192, 0.5)">
                <div class="card text-center mx-2" style="width: 25rem; height: 11.5rem;">
                    <div class="card-body">
                        <h5 class="card-title">Reach Out</h5>
                        <p class="card-text">Reach out to a family member through the chat feature and have them add you to their circle!</p>
                        <a href="{% url 'chats' %}" class="btn btn-primary btn-lg">Go to Chats</a>
                    </div>
                </div>
                <div class="card text-center mx-2" style="width: 25rem; height: 11.5rem;">
                    <div class="card-body">
                    <h5 class="card-title">First in your family?</h5>
                    <p class="card-text">If you're ready to start documenting and connecting with your family history</p>
                    <a href="{% url 'create_circle' %}" class="btn btn-primary btn-lg">Create a Family Circle</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% include 'person_list.html' with person_list=person.query_grandparents label='Grandparents' %}
            {% include 'person_list.html' with person_list=person.query_parents label='Parents' add_href=add_parent %}
            {% include 'person_list.html' with person_list=person.query_generation label='Generation' add_href=add_spouse %}
            {% include 'person_list.html' with person_list=person.query_children label='Children' %}
            {% include 'person_list.html' with person_list=person.query_grandchildren label='Grandchildren' %}
        </div>
    </div>
</div>
{% endblock %}