{% load static %}
{% load django_bootstrap5 %}
{% url 'home' as home %}
{% url 'login' as login %}
{% url 'logout' as logout %}
{% url 'signup' as signup %}
{% url 'user_edit' as settings %}
{% url 'chats' as chats %}
{% if request.user.person %}
    {% url 'person_detail' request.user.person.id as profile %}
{% else %}
    {% url 'claim_person' as profile %}
{% endif %}
<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand" href="{{home}}">Family Quest</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{profile}}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{chats}}">Chats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{settings}}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{social_circles}}">Social Circles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{family_tree}}">Family Tree</a>
            </li>
            {% endif %}
        </ul>
        <div class="mt-2 mt-lg-0">
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-outline-secondary position-relative me-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    Notifications
                    <span id="nav-notifications-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-1"></span>
                </button>
                <a class="btn btn-outline-primary" href="{{logout}}">Log Out</a>
            {% else %}
                <a class="btn btn-outline-primary me-2" href="{{signup}}">Sign Up</a>
                <a class="btn btn-primary" href="{{login}}">Log In</a>
            {% endif %}
        </div>
    </div>
  </nav>
  <!-- notifications sidebar -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">
            Notifications
            <span class="notification-count badge rounded-pill bg-danger">0</span>
            <button class="notification-clear-all btn btn-sm btn-outline-danger ms-1">Dismiss All</button>
      </h5>
      <button type="button" class="btn-close text-reset mb-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    <div class="notifications offcanvas-body pretty-scrollbar"></div>

    {% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
    <script src="{% static 'js/notification.js' %}"></script>
    <div class="notifications-list container-fluid"></div>
    <script id="notification-widget-insertion">
        new NotificationWidget(document.querySelector("#offcanvasRight"));
    </script>
    {% endif %}
  </div>