{% extends 'base.html' %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/post_item.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="d-flex mt-4">
                <div class="portrait portrait-lg me-3">
                    {% include 'generic_image.html' with photo=person.profile_photo %}
                </div>
                <span class="">
                    <h2>{{person}}</h2>
                    <em class="fs-4">{{person.tagline}}</em>
                    <div class="fs-5">
                        {{person.birth_date|date:'l, F j, Y'}} - 
                        {% if person.death_date %}
                        {{person.death_date|date:'l, F j, Y'}}
                        {% else %}
                        Present
                        {% endif %}
                    </div>
                    <div class="mt-2">
                        {% for circle in person.family_circles.all %}
                        <span class="badge bg-secondary"><a href="{% url 'circle_detail' circle.id %}" class="text-reset text-decoration-none">{{circle.name}}</a></span>
                        {% endfor %}
                    </div>
                    <div class="mt-2">
                        {% if request.user in person.query_managers %}
                        <a class="btn btn-outline-primary" href="{% url 'person_edit' person.id %}">Edit Profile</a>
                        {% endif %}
                        <a class="btn btn-outline-secondary" href="{% url 'family_navigator' person.id %}">Family Tree</a>
                    </div>
                </span>
            </div>
            <div class="mt-5">
                <h3 class="display-6 mt-5">Facts</h3>
                {% if person.facts %}
                <ul class="fs-5">
                {% for fact in person.facts %}
                <li>{{fact}}</li>
                {% endfor %}
                </ul>
                {% else %}
                <p>No facts yet... edit this person's profile to add some!</p>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="mt-4">Recent Posts</h2>
            <div class="list-group mb-5">
                {% for post in person.useraccount.posts_made.all reversed %}
                <a href="{% url 'post_detail' post.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-ellipsis">{{post.title}}</h5>
                    <small class="tz-localize">{{post.created_at.isoformat}}</small>
                    </div>
                    <p class="mb-1 post-content">
                        {% if post.content %}
                        {{post.content}}
                        {% endif %}
                        {% if post.post_photo %}
                            <img src="/static/uploads/{{post.post_photo}}">
                        {% endif %}
                    </p>
                    <small>{{post.comments.count}} Comments</small>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}