{% extends 'base.html' %}

{% block body %}
{% load django_bootstrap5 %}
<div class="container-fluid px-lg-5">
    <h1 class="mt-3">{{post.title}}</h1>
    <span class="text-muted fs-4">
        Posted by <a class="text-decoration-hover-only" href="{% url 'person_detail' post.author.person.id %}">{{post.author.person}}</a>
    </span>
    <p>
        {% include 'generic_image.html' with photo=post.author.person.profile_photo style='width: 100px' class='example'%}
     <hr>   
    </p>
        {% include 'generic_image.html' with photo=post.author.person.profile_photo style='width: 100px' class='example'%}
        <form action="" method="post" enctype="multipart/form-data" class="mt-5">
            {% csrf_token %}
            {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary mt-2">
        ADD COMMENT
    </button>
  </form>

    <ul>
        {% for comment in comments %}
        <li>{{ comment.body }}</li>
        
        <li><a href="{% url 'user_detail' comment.author.id %}">{{ comment.author }}</a></li>
        <li>{{ comment.created_at }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

